In [676]:
#modeling simple hmm

In [1035]:
import numpy as np
import pandas as pd

In [1036]:
def normalizeoveri(dfin):
    for col in dfin.columns:
        tot=sum(dfin.loc[:,col])
        for row in dfin.index:
            dfin.loc[row,col]=dfin.loc[row,col]/tot
    return dfin

In [1037]:
#Alpha (Forward)
def alpha(curseq,states,init,tran,emis):
    seqiter=range(0,len(curseq))
    forward=pd.DataFrame(0,index=states,columns=seqiter)
    for i in seqiter:
        for state in states:
            if i==0:
                forward.loc[state,i]=init[state]*emis.loc[state,curseq[i]]
            else:
                for prevstate in states:
                    forward.loc[state,i]+=forward.loc[prevstate,i-1]*tran.loc[prevstate,state]*emis.loc[state,curseq[i]]
    #display(forward)
    return forward

#for seqtype in corpus:
#    corpus[seqtype]['alpha']=alpha(seqtype,states,init,tran,emis)
#    corpus[seqtype]['prob']=0
#    for state in states:
#        corpus[seqtype]['prob']+=corpus[seqtype]['alpha'].loc[state,corpus[seqtype]['alpha'].shape[1]-1]
#
#corpus

In [1038]:
#Beta (Backward)
def beta(curseq,states,init,trans,emis):
    seqiter=range(len(curseq)-1,-1,-1)
    backward=pd.DataFrame(0,index=states,columns=seqiter)
    for i in seqiter:
        for state in states:
            if i==len(curseq)-1:
                backward.loc[state,i]=1
            else:
                for nextstate in states:
                    backward.loc[state,i]+=backward.loc[nextstate,i+1]*tran.loc[state,nextstate]*emis.loc[nextstate,curseq[i+1]]
    #display(backward)
    return backward
    
#for seqtype in corpus:
#    corpus[seqtype]['beta']=beta(seqtype,states,init,tran,emis)

In [1039]:
#Gamma (Transition)
def gamma(curseq,states,init,tran,emis,alpha,beta,totprob):
    seqiter=range(len(curseq)-1)
    path=pd.DataFrame(0,columns=pd.MultiIndex.from_product([states,states]),index=seqiter) #[state1,state2,time]
    for i in seqiter:
        for state1 in states:
            for state2 in states:
                path.loc[i,(state1,state2)]=alpha.loc[state1,i]*tran.loc[state1,state2]*emis.loc[state2,curseq[i+1]]*beta.loc[state2,i+1]/totprob
    #display(path)
    return(path)
    
#for seqtype in corpus:
#    corpus[seqtype]['gamma']=gamma(seqtype,states,init,tran,emis,corpus[seqtype]['alpha'],corpus[seqtype]['beta'],corpus[seqtype]['prob'])

In [1040]:
#Delta (State)
def delta(curseq,states,alpha,gamma,totprob):
    seqiter=range(len(curseq))
    single=pd.DataFrame(0,index=states,columns=seqiter)
    for i in seqiter:
        for state in states:
            if i==len(curseq)-1:
                single.loc[state,i]=alpha.loc[state,i]/totprob
            else:
                for nextstate in states:
                    single.loc[state,i]+=gamma.loc[i,(state,nextstate)]
    #display(single)
    return single
    
#for seqtype in corpus:
#    corpus[seqtype]['delta']=delta(seqtype,states,corpus[seqtype]['alpha'],corpus[seqtype]['gamma'],corpus[seqtype]['prob'])

In [1014]:
#Baum-Welch iteration

In [1041]:
#get new init
def getnewinit(corpus,states):
    rawnewinit={}
    for state in states:
        rawnewinit[state]=0
        for seqtype in corpus:
            rawnewinit[state]+=corpus[seqtype]['delta'].loc[state,0]*corpus[seqtype]['num']
    newinit={}
    newtotal=0
    for state in states:
        newtotal+=rawnewinit[state]
    for state in states:
        newinit[state]=rawnewinit[state]/newtotal
    return newinit

#getnewinit(corpus,states)

In [1042]:
#get new tran
def getnewtran(corpus,states):
    newtran=pd.DataFrame(0,columns=states,index=states)
    for state in states:
        rawtran={}
        for nextstate in states:
            rawtran[nextstate]=0
            for seqtype in corpus:
                seqiter=range(0,len(seqtype)-1)
                for i in seqiter:
                    rawtran[nextstate]+=corpus[seqtype]['gamma'].loc[i,(state,nextstate)]*corpus[seqtype]['prob']
        totrawtran=0
        for tempstate in rawtran:
            totrawtran+=rawtran[tempstate]
        for tempstate in rawtran:
            newtran.loc[state,tempstate]=rawtran[tempstate]/totrawtran
    return newtran

#getnewtran(corpus,states)

In [1043]:
#get new emis
def getnewemis(corpus,states,symbols):
    newemis=pd.DataFrame(0,columns=symbols,index=states)
    for state in states:
        rawemis={}
        for symbol in symbols:
            rawemis[symbol]=0
        for seqtype in corpus:
            seqiter=range(0,len(seqtype))
            for i in seqiter:
                rawemis[seqtype[i]]+=corpus[seqtype]['delta'].loc[state,i]*corpus[seqtype]['prob']
        totrawemis=0
        for tempsymbol in rawemis:
            totrawemis+=rawemis[tempsymbol]
        for tempsymbol in rawemis:
            newemis.loc[state,tempsymbol]=rawemis[tempsymbol]/totrawemis
    return newemis

#getnewemis(corpus,states,symbols)

In [1082]:
def loglikelihood(corpus):
    #run alpha to get new prob
    for seqtype in corpus:
        corpus[seqtype]['tempalpha']=alpha(seqtype,states,init,tran,emis)
        corpus[seqtype]['prob']=0
        for state in states:
            corpus[seqtype]['prob']+=corpus[seqtype]['tempalpha'].loc[state,corpus[seqtype]['tempalpha'].shape[1]-1]
    tot=0
    for seqtype in corpus:
        tot+=corpus[seqtype]['num']*np.log(corpus[seqtype]['prob'])
    return tot
#loglikelihood(corpus)

In [1083]:
def baumwelch_iter(corpus,states,symbols,init,tran,emis,accuracy):
    #alpha with terminating accuracy
    diffsum=0
    for seqtype in corpus:
        newalpha=alpha(seqtype,states,init,tran,emis)
        if 'alpha' in corpus[seqtype]:
            dfifsum+=sum(abs(newalpha-corpus[seqtype]['alpha']))
        corpus[seqtype]['alpha']=newalpha
        corpus[seqtype]['prob']=0
        for state in states:
            corpus[seqtype]['prob']+=corpus[seqtype]['alpha'].loc[state,corpus[seqtype]['alpha'].shape[1]-1]
        corpus[seqtype]['alpha']=normalizeoveri(corpus[seqtype]['alpha'])
    if diffsum<accuracy:
        return False
    #beta
    for seqtype in corpus:
        corpus[seqtype]['beta']=normalizeoveri(beta(seqtype,states,init,tran,emis))
    #gamma
    for seqtype in corpus:
        corpus[seqtype]['gamma']=gamma(seqtype,states,init,tran,emis,corpus[seqtype]['alpha'],corpus[seqtype]['beta'],corpus[seqtype]['prob'])
    #delta
    for seqtype in corpus:
        corpus[seqtype]['delta']=delta(seqtype,states,corpus[seqtype]['alpha'],corpus[seqtype]['gamma'],corpus[seqtype]['prob'])
    newinit=getnewinit(corpus,states)
    newtran=getnewtran(corpus,states)
    newemis=getnewemis(corpus,states,symbols)
    #print(loglikelihood(corpus))
    #display(newinit)
    #display(newtran)
    #display(newemis)
    return (newinit,newtran,newemis)

In [1160]:
#Data
sequence1=tuple(['B','A','B'])
sequence2=tuple(['A','B','B','A'])
corpus={}
corpus[sequence1]={'num':10}
corpus[sequence2]={'num':20}
states=['s','t']
symbols=[]
for seqtype in corpus:
    symbols+=seqtype
symbols=set(symbols)
display(corpus)
#Initial probabilities
init={'s':0.5,'t':0.5}
display(init)
#Transition Matrix
tran=pd.DataFrame([[0.5,0.5],[0.5,0.5]],columns=states,index=states)
display(tran)
#Emission Matrix
emis=pd.DataFrame([[0.3,0.7],[0.7,0.3]],columns=['A','B'],index=states)
display(emis)

{('A', 'B', 'B', 'A'): {'num': 20}, ('B', 'A', 'B'): {'num': 10}}

{'s': 0.5, 't': 0.5}

     s    t
s  0.5  0.5
t  0.5  0.5

     A    B
s  0.3  0.7
t  0.7  0.3

In [1161]:
accuracy=0.01
oldlike=-999
for i in range(0,50):
    (init,tran,emis)=baumwelch_iter(corpus,states,symbols,init,tran,emis,accuracy)
    newlike=loglikelihood(corpus)
    print(newlike)
    #if (newlike<oldlike) or ((newlike-oldlike)<accuracy):
    #    break
    oldlike=newlike
#display(init)
#display(tran)
#display(emis)

-73.7104429829
-72.2896108012
-71.4229657808
-70.8192980654
-70.211885682
-69.346963223
-67.9059328088
-65.5832133524
-62.4316846194
-59.1453685209
-56.423383266
-54.5688949293
-53.8018567743
-54.1360219821
-55.4449956128
-57.638292855
-60.7003451581
-64.6308034944
-69.4017718137
-74.9362266128
-81.1254231127
-87.8413782962
-94.9641393489
-102.385649134
-110.023284962
-117.810589437
-125.703114256
-133.665555029
-141.6772698
-149.720276709
-157.786209279
-165.86558628
-173.955868829
-182.051523733
-190.152679173
-198.255591304
-206.36158921
-214.467731257
-222.575883365
-230.683461818
-238.792571743
-246.900788774
-255.010324473
-263.118825351
-271.228550299
-279.337177338
-287.446986399
-295.555669511
-303.665515957
-311.77422399

In [1152]:
display(init)
display(tran)
display(emis)

{'s': 0.41418485308098391, 't': 0.58581514691901604}

              s    t
s  7.062996e-16  1.0
t  1.000000e+00  0.0

     B    A
s  1.0  0.0
t  0.0  1.0

In [1153]:
for seqtype in corpus:
    display(seqtype)
    display(corpus[seqtype]['alpha'])
    display(corpus[seqtype]['beta'])
    display(corpus[seqtype]['gamma'])
    display(corpus[seqtype]['delta'])

('B', 'A', 'B')

     0    1    2
s  1.0  0.0  1.0
t  0.0  1.0  0.0

     2             1    0
s  0.5  1.059449e-15  1.0
t  0.5  1.000000e+00  0.0

     s                   t
     s         t         s    t
0  0.0  2.414046  0.000000  0.0
1  0.0  0.000000  1.207023  0.0

          0         1         2
s  2.414046  0.000000  2.414046
t  0.000000  1.207023  0.000000

('A', 'B', 'B', 'A')

     0    1    2    3
s  0.0  1.0  1.0  0.0
t  1.0  0.0  0.0  1.0

     3    2             1             0
s  0.5  1.0  1.059449e-15  1.059449e-15
t  0.5  0.0  1.000000e+00  1.000000e+00

         s                      t
         s             t        s    t
0  0.00000  0.000000e+00  1.70719  0.0
1  1.70719  0.000000e+00  0.00000  0.0
2  0.00000  8.056970e+14  0.00000  0.0

         0        1             2             3
s  0.00000  1.70719  8.056970e+14  0.000000e+00
t  1.70719  0.00000  0.000000e+00  1.611394e+15